export PORT=":3000"
export ADDR=":8080"
export DB_ADDR="postgres://admin:adminpassword@db:5432/social?sslmode=disable"
export DB_MIGRATOR_ADDR="postgres://admin:adminpassword@localhost/social?sslmode=disable"